body {
  background: white;
  color: black;
  font-size: 16px;
  display: flex;
  max-width: none;
}

#root {
}

.cellular-automata-screen {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 99vw;
  height: 99vh;
}

.color-map {
  display: flex;
  gap: 1px;
}
.color-map input {
  padding: 0;
  width: 20px;
  appearance: none;
}
.color-map input::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color-map input::-webkit-color-swatch {
  border: none;
}

.initial-states-form {
  display: flex;
  justify-content: space-evenly;
}
.initial-states-form div {
  text-align: left;
}

.initial-states-form input[type=file],
.initial-states-form button {
  color: #333;
  display: block;
  width: 15rem;
  background-color: lightgray;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: sans-serif;
  font-style: normal;
  border: 1px #333 solid;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}
