body {
  background: white;
  color: black;
  font-size: 16px;
  display: flex;
  max-width: none;
}

#root {
}

.cellular-automata-screen {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 99vw;
  height: 99vh;
}

.color-map {
  display: flex;
  gap: 1px;
}
.color-map input {
  padding: 0;
  width: 20px;
  appearance: none;
}
.color-map input::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color-map input::-webkit-color-swatch {
  border: none;
}
